@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');

.body {
    background-image: url('images/blue-wavy-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

#container {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 10px;
}

.comparing-container {
    display: flex;
    justify-content: center;
}

.title-page {
    
    font-family: 'Bubblegum Sans', cursive;
    text-align: center;
    font-size: 50px;
    color:rgb(41, 138, 141);
    -webkit-text-stroke: 1px rgb(13, 53, 54);

}

.player {
    text-align: center;
    letter-spacing: 0.1em;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
}

.square {
    height: 150px;
    width: 150px;
    margin-top: -10%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.score-design {
    display: flex;
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    margin-top: -20px;
}

.score-container {
    display: flex;
}

div#player-score {
    margin-left: 25%;
}

div#computer-score {
    margin-left: 18%;
}


#play-button {
    font-family: 'Balsamiq Sans', cursive;
    font-weight: 700;
    background-color: rgb(95, 187, 135);
    font-size: 17px;
    letter-spacing: 0.2em;
    color:rgb(13, 53, 54);
    width: 100px;
    height: 2em;
    margin: 1em auto 0% auto;
    border-radius: 15px;
    border-color: rgb(13, 53, 54);
}

#play-button:hover {
    box-shadow: 0 0 15px rgba(55, 149, 204, 0.959);
}

.round {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 8% 10px auto 10px;
}

.round-active {
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 85px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 8% 10px auto 0px;
    background-color: rgba(218, 189, 24, 0.767);
    box-shadow: 0 0 3px black;
}

#label-select-weapon{
    margin: auto;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 25px;
}
#weapon-container {
    display: flex;
    justify-content: center;
}

.weapon {
    margin: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-weapon {
    width: 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(22, 22, 48);
    transition: all .07s ease;
}

.img-weapon:hover {
    transform: scale(1.1) ;
    box-shadow: 5px 5px 5px rgb(138, 139, 45);
}

.weapon-label {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 20px;
    margin-top: 3%;
}

.player-weapon {
    height: 150px;
    width: 150px;
    margin-top: -10%;
    /*background: url('images/paper.jpg');*/
    background-size: 150px 150px;
    border-radius: 10px;
}